* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'DM Serif Display', serif;
    font-family: 'Public Sans', sans-serif;
    background: rgb(209, 242, 255);
}
.container {
    margin: 40px 165px 0 165px;

.header {
display: flex;
align-items: center;
justify-content: space-between;
}
.header__hamburger {
    display: none;
}
.header__list {
    display: flex;
    list-style: none;
    gap: 40px;
  
}
.header__item {
    font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #36536B;
mix-blend-mode: normal;
opacity: 0.7;
}
.btn {
    padding: 16px 24.5px 14px 26.5px;
    background:  #BA4270;
    border-radius: 25px;
    border: none;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
}
.btn:hover {
    background: #bdb76b;
}
.btn:active {
background: #808080;
}


.hero {
   display: flex;
   align-items: center;
    .hero__title {
        font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 72px;
letter-spacing: -0.553846px;
color: #36536B;
margin-bottom: 21px;
    }
   .hero__image {
   margin-left: 150px;
   }
}

}



.about {
    width: 1325px;
    height: 472px;
    display: flex;
    align-items: center;
    gap: 131px;
    background: #1B262F;
    margin-right: 50px;

    .about__content {
        width: 445px;
        height: 272px;
        margin-left: 186px;
    }
    .about__title {
        font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.369231px;
color: #FBFCFE;
    }
    .about__description {
        font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
color: #FBFCFE;
mix-blend-mode: normal;
opacity: 0.7;
margin-top: 24px;
    }
 .about__btn {
    padding: 16px 32px 14px 32px;
    border-radius: 25px;
    background: #1B262F;
    color: #fff;
    border-color: #fff;
    margin-top: 32px;
 }
 .about__btn:hover{
    background: #BA4270;
    color: #1B262F;
 }
 .about__btn:active {
    background: #bdb76b;
 }
 .about__image {
    display: flex;
    gap: 62px;
    margin-top: 32px;

 }
}
.implement {
    display: flex;
    align-items: center;
    .implement__title {
        font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.369231px;
color: #36536B;
    }
    .implement__description {
        font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
color: #6C8294;
margin-top: 24px;
    }
}

.UX {
    display: flex;
    align-items: center;
    
    .UX__title {
        font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.369231px;
color: #36536B;
    }
    .UX__description {
        font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
color: #6C8294;
    }
    .UX__images {
        display: flex;
    }
}
.ready {

    .ready__cards {
display: flex;  
gap: 30px;
margin-top: 146px;
    }
    .card {
width: 310px;
height: 341px;
    }
    .card__image {
        margin-left: 95px;
    }
    .card__title {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.138462px;
        color: #36536B;
        margin-top: 32px;
    }
    .card__description {
        font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
letter-spacing: -0.115385px;
color: #6C8294;
margin-top: 16px;
    }
    .ready__title {
        font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.369231px;
color: #36536B;
    }
    .ready__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
background:#1B262F ;
margin-top: 96px;

    .footer__list {
display: flex;
gap: 40px;
list-style: none;

    }
    .footer__item {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.7;
    }
    .footer__logo {
        display: flex;
        gap: 40px;
    }
}
@media only screen and ( max-width:768px){
    .header__list {
        margin-right: 0;
        padding-left: 25px;
    }
    .btn {
      margin-left: 45px;
      padding: 14px 24px 16px 25px;
    }
    .header__item {
        font-weight: 400;
font-size: 12px;
line-height: 14px;
    }


    .hero {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .hero__title {
        font-weight: 100;
        font-size: 25px;
        line-height: 15px;
        text-align: center;

    }
    .hero__image {
       margin-right: 70px;
    }
    .hero__form {
        margin-left: 70px;
    }


   .about{
    width: 768px;
    height: 615px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin:100px 0 0 0;
   }
   .about__content{
    width: 445px;
    height: 272px;
    margin:0 70px 50px 0;
text-align: center;
}


    .implement {
        
        flex-wrap: wrap;
    }
    .implement__content {
        text-align: center;
    }


    .UX {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .UX__content {
        text-align: center;
    }


    .ready__cards {
        margin: 0;
    }
    .ready__bottom {
        flex-direction: column;
        margin-top: 100px;
    }
    .ready__title {
        margin-bottom: 40px;
    }


   .footer{
    width: 768px;
    height:100px ;
    justify-content: space-around;
   } 
   .footer__list {
    margin-right: 5px; 
   }
   
   .footer__image {
    margin-left: 39px;
   }
   .footer__logo {
margin-right: 75px;
   }
}


@media only screen and (max-width:375px){
    .container {
        margin: 20px 0 0 15px;
    }
.header__btn {  
    display: none;
    
}

.header__item {
    display: none;
}
.header__hamburger {
    display: block;
}
.hero__title {
    font-weight: 50;
    font-size:15px;
    line-height: 10px;
}
.btn {
    width: 100%;
    margin-left: -60px;
    margin-bottom: 16px;
}

.about__title {
    font-weight: 400;
font-size: 25px;
line-height: 36px;

}
.about__content {
    width: 375px;
    height: 300px;
}

.about__images {
    flex-wrap: wrap;
}
.implement__content {
    text-align: center;
    
}
.ready__cards {
    flex-wrap: wrap;
}
.footer {
    width: 375px;
    height: 353px;
    flex-direction: column;
    
}
.footer__list {
    flex-direction: column;
}
.footer__logo {
    margin-left: 75px;
}
}
